{% extends "base.html" %} {% block content %}
<!-- end app-navbar -->
<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">
                    <div class="bg-img mb-2 mb-xl-0 mr-3">
                        <!-- <img class="img-fluid rounded" src="" alt="user">-->
                    </div>
                    <div class="page-title mb-2 mb-xl-0">
                        <h1 class="mb-1">Good Morning, Michael!</h1>
                        <p>You have 7 essential tasks today, 8 messages and notifications to respond.</p>
                    </div>


                </div>
            </div>
            <!-- end page title -->
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <div class="col-xxl-6 m-b-30">
                <div class="card card-statistics h-100 m-b-0">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-heading">
                            <h4 class="card-title">Market Statistics</h4>
                        </div>
                        <div class="dropdown">
                            <select class="custom-select custom-select-sm" id="inputGroupSelect01">
                                                <option selected>1st Quarter</option>
                                                <option value="1">2nd Quarter</option>
                                                <option value="2">3rd Quarter</option>
                                                <option value="3">4th Quarter</option>
                                            </select>
                        </div>
                    </div>
                    <div class="card-body py-0">
                        <div id="crmdemo1"></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="col-xxl-8 mb-30">
                <div class="card card-statistics h-100 mb-0">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-heading">
                            <h4 class="card-title">Higest Stocks Variation</h4>
                        </div>
                        <div class="dropdown">
                            <a class="p-2" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-circle"></i>
                            </a>
                            <div class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                                <h6 class="mb-1">Action</h6>
                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-o pr-2"></i>View reports</a>
                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-edit pr-2"></i>Edit reports</a>
                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-bar-chart-o pr-2"></i>Statistics</a>
                                <h6 class="mb-1 mt-3">Export</h6>
                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-pdf-o pr-2"></i>Export to PDF</a>
                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-excel-o pr-2"></i>Export to CSV</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="max-h-600 scrollbar scroll_dark" style="height: 400px">
                            <div class="table-responsive">
                                <table id="datatable-buttons" class="table mb-0 table-borderless">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>Project Name </th>
                                            <th> Start Date </th>
                                            <th> Due Date </th>

                                            <th>Status</th>
                                            <th>Clients</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-muted">
                                        <tr>
                                            <td>App Design and development </td>
                                            <td>Dec 03, 2018 </td>
                                            <td>Dec 25, 2018 </td>

                                            <div class="bg-img-group">
                                                <div class="bg-img bg-img-sm">
                                                    <a class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Brian" href="#"> <img class="img-fluid" src="img/avtar/01.jpg" alt="user"></a>
                                                </div>
                                                <div class="bg-img bg-img-sm">
                                                    <a class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Smithdro" href="#"> <img class="img-fluid" src="img/avtar/02.jpg" alt="user"></a>
                                                </div>
                                                <div class="bg-img bg-img-sm">
                                                    <a class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Adrian Demiandro" href="#"> <img class="img-fluid" src="img/avtar/03.jpg" alt="user"></a>
                                                </div>
                                                <div class="bg-img bg-img-sm">
                                                    <a class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Sandradro Garett" href="#"> <img class="img-fluid" src="img/avtar/04.jpg" alt="user"></a>
                                                </div>
                                                <div class="bg-img bg-img-more bg-img-sm">
                                                    <a class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="View all" href="#"><span>12+</span> </a>
                                                </div>
                                            </div>
                                            </td>
                                            <td><label class="badge badge-info-inverse">On Hold</label></td>
                                            <td>Brian</td>
                                        </tr>
                                        <tr>
                                            <td>Coffee Detail page - main page </td>
                                            <td>Jan 12, 2019 </td>
                                            <td>Feb 22, 2019 </td>

                                            <td><label class="badge badge-danger-inverse">Pending</label></td>
                                            <td>Smithdro</td>
                                        </tr>
                                        <tr>
                                            <td>Poster illustrater Design </td>
                                            <td>Feb 12, 2019 </td>
                                            <td>Mar 25, 2019 </td>

                                            <td><label class="badge badge-primary-inverse">Working</label></td>
                                            <td>Adrian Demiandro</td>
                                        </tr>
                                        <tr>
                                            <td>Drinking Bottel Design </td>
                                            <td>Apr 30, 2019 </td>
                                            <td>Apr 25, 2019 </td>

                                            <td><label class="badge badge-success-inverse">Completed</label></td>
                                            <td>Sandradro Garett</td>
                                        </tr>
                                        <tr>
                                            <td>Design and development </td>
                                            <td>May 04, 2019 </td>
                                            <td>Jun 06, 2019 </td>

                                            <td><label class="badge badge-success-inverse">Completed</label></td>
                                            <td>Garydro</td>
                                        </tr>
                                        <tr>
                                            <td>Landing page Design - Home </td>
                                            <td>Jul 12, 2019 </td>
                                            <td>Jul 26, 2019 </td>

                                            <td><label class="badge badge-primary-inverse">Working</label></td>
                                            <td>Brian Joedro</td>
                                        </tr>
                                        <tr>
                                            <td>App Design and development </td>
                                            <td>Aug 04, 2019 </td>
                                            <td>Aug 23, 2019 </td>

                                            <td><label class="badge badge-info-inverse">On Hold</label></td>
                                            <td>Alice Williams</td>
                                        </tr>
                                        <tr>
                                            <td>Coffee Detail page - main page </td>
                                            <td>Dec 05, 2019 </td>
                                            <td>Dec 25, 2019 </td>

                                            <td><label class="badge badge-primary-inverse">Working</label></td>
                                            <td>Sandradro Garet</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">



            <div class="col-xxl-4 mb-30">
                <div class="card card-statistics h-100 mb-0">
                    <div class="card-header">
                        <div class="card-heading">
                            <h4 class="card-title">Currency Updates</h4>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="apexchart-wrapper">
                            <div id="crmdemo2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
</div>
<!-- end app-container -->
<!-- begin footer -->

<!-- end footer -->
</div>
<!-- end app-wrap -->
</div>
<!-- end app -->

<!-- plugins -->
<script src="vendors.js"></script>

<!-- custom app -->
<script src="app.js"></script>
</body>

</html>
{% endblock %}